<div class="page-width">
    <h1>Hello this is a testing store learning git and cli</h1>
    <p>This is a testing banner </p>
</div>


{% schema %}
{
"name": "Testing",
"settings": [],
"presets": [
{
"name": "Testing"
}
]
}

{% endschema %}